<!DOCTYPE html>
<html>
  <head>
    <title>Bodytrace Testing App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'main-site' %>

  </head>

  <body>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%= yield %>
  </body>
</html>
